<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a>
					<ul>
						<li><a href="/bio">Bio</a></li>
						<li><a href="/cv">CV</a></li>
					</ul>
				</li>
				<li><a href="/research">Research</a>
					<ul>
        					<li><a href="/physics">Physics</a></li>
       						<li><a href="/genomics">Genomics</a></li>
     		 			</ul>
				</li>
				<li>
					<a href="/outreach">Outreach</a>
					<ul>
						<li><a href="/represent">Representation</a></li>
       						<li><a href="/teach">Teaching</a></li>
					</ul>
				</li>
	        		<li><a href="/justice">Judiciary</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a> rabentim at msu.edu </a></li>
	        		<li><a href="https://github.com/traben">github.com/traben</a></li>
				</ul>
			</footer>
		</body>
	</html>
